#sidebar .sidebar-item{
    list-style-type: none;
    display: inline;
}

.sidebar-item-icon {
  color: white;
  margin: 0;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.sidebar-item-icon:visited {
  color: white,
}

.sidebar-item-icon:hover {
  color: rgb(221, 192, 192);
  transition: all 1s;
}

@media (min-width: 600px) {
  
    #sidebar {
      width: 15vw;
      top: 0;
      left: 0;
      padding-top: 5rem;
      min-height: 100vh;
      z-index: 999;
      align-items: center;
    }
  
    #sidebar .sidebar-item {
      display: block;
      padding-top: 1rem;
    }
  
    .sidebar-item-icon {
      font-size: 3rem;
    }
  }